ADMIN__EMAIL =
ADMIN__PASSWORD =

APP__COOKIE_SECRET_KEY = 32_characters_secret_key_edit_me

TELEGRAM__TOKEN =

DATABASE__HOST = localhost
DATABASE__PORT = 5432
DATABASE__USERNAME = username
DATABASE__PASSWORD =
DATABASE__NAME = database
